<form class="p-5 bg-gray-100 rounded-lg shadow-md">
    <h6 class="text-xl font-semibold mb-4">Examen Hematologico</h6>

    <div class="w-60">
        <label for="sexo" class="block mb-2 text-sm font-medium text-gray-900">Sexo:</label>
        <select id="sexo" name="sexo" [(ngModel)]="sexo" (change)="cargarValoresReferenciales()"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5">
            <option value="" disabled selected>Seleccione sexo</option>
            <option value="Hombre adulto">Hombre adulto</option>
            <option value="Mujer adulta">Mujer adulta</option>
            <option value="Preescolar">Preescolar</option>
        </select>
    </div>

    <!-- /Selects -->
    <div class="grid grid-cols-6 gap-4">
        <div>
            <label class="block text-sm font-medium text-gray-900">
                <input type="checkbox" class="mr-2" (change)="toggleAll($event)">
                Seleccionar todos
            </label>
        </div>
        <label class="ml-2 block text-sm font-medium text-gray-900"><input type="checkbox" class="mr-2"
                (change)="toggleInput(0, $event)">
            Hematocrito</label>
        <label class="ml-2 block text-sm font-medium text-gray-900">
            <input type="checkbox" class="mr-2" (change)="toggleInput(1, $event)">
            Hemoglobina
        </label>
        <label class="ml-2 block text-sm font-medium text-gray-900">
            <input type="checkbox" class="mr-2" (change)="toggleInput(2, $event)">
            Hematies
        </label>
        <label class="ml-2 block text-sm font-medium text-gray-900">
            <input type="checkbox" class="mr-2" (change)="toggleInput(3, $event)">
            Glóbulos Blancos
        </label>
        <label class="ml-2 block text-sm font-medium text-gray-900">
            <input type="checkbox" class="mr-2" (change)="toggleInput(4, $event)">
            Neutrófilos
        </label>
        <label class="ml-2 block text-sm font-medium text-gray-900">
            <input type="checkbox" class="mr-2" (change)="toggleInput(5, $event)">
            Linfocitos
        </label>
        <label class="ml-2 block text-sm font-medium text-gray-900">
            <input type="checkbox" class="mr-2" (change)="toggleInput(6, $event)">
            MID
        </label>
        <label class="ml-2 block text-sm font-medium text-gray-900">
            <input type="checkbox" class="mr-2" (change)="toggleInput(7, $event)">
            MCV
        </label>
        <label class="ml-2 block text-sm font-medium text-gray-900">
            <input type="checkbox" class="mr-2" (change)="toggleInput(8, $event)">
            MCH
        </label>
        <label class="ml-2 block text-sm font-medium text-gray-900">
            <input type="checkbox" class="mr-2" (change)="toggleInput(9, $event)">
            MCHC
        </label>
        <label class="ml-2 block text-sm font-medium text-gray-900">
            <input type="checkbox" class="mr-2" (change)="toggleInput(10, $event)">
            Plaquetas
        </label>
    </div>
    <!-- Componentes -->
    <div class="flex flex-wrap  pt-5">
        <div *ngFor="let procedimiento of procedimientos; let i = index">
            <div *ngIf="showInput[procedimiento.propiedad]" class="flex-col items-center">
                <label for="{{procedimiento.propiedad}}"
                    class="block mb-1 text-sm font-medium text-gray-700">{{procedimiento.propiedad}}</label>
                <input type="number" id="{{procedimiento.propiedad}}" name="{{procedimiento.propiedad}}"
                    class="form-control border rounded-md py-2 px-3 w-full" [(ngModel)]="procedimiento.resultado">
                <label class="block mt-1 text-sm text-gray-700">Referencia: {{procedimiento.referencia.min
                    +"-"+procedimiento.referencia.max}}</label>
            </div>
        </div>
    </div>


</form>